#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

/ {
    HoldTap: HoldTap {
        compatible = "zmk,behavior-hold-tap";
        label = "HOLDTAP";
        bindings = <&kp>, <&kp>;

        #binding-cells = <2>;
        flavor = "tap-preferred";
        tapping-term-ms = <400>;
    };

    holdToLayer: holdToLayer {
        compatible = "zmk,behavior-hold-tap";
        label = "HOLDTOLAYER";
        bindings = <&mo>, <&kp>;

        #binding-cells = <2>;
        tapping-term-ms = <400>;
        flavor = "tap-preferred";
    };

    holdTapLayer: holdTapLayer {
        compatible = "zmk,behavior-hold-tap";
        label = "HOLDTAPLAYER";
        bindings = <&mo>, <&sl>;

        #binding-cells = <2>;
        tapping-term-ms = <400>;
        flavor = "tap-preferred";
    };

    altTsupT: altTsupT {
        compatible = "zmk,behavior-tap-dance";
        label = "ALTTSUPT";
        #binding-cells = <0>;
        bindings = <&kp LA(T)>, <&kp LG(T)>;

        tapping-term-ms = <300>;
    };

    scrollH: scrollH {
        compatible = "zmk,behavior-sensor-rotate";
        label = "SCROLLH";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
    };

    scrollV: scrollV {
        compatible = "zmk,behavior-sensor-rotate";
        label = "SCROLLV";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_RIGHT>, <&msc SCRL_LEFT>;

        tap-ms = <100>;
    };

    combos {
        compatible = "zmk,combos";

        print {
            bindings = <&kp PRINTSCREEN>;
            key-positions = <59 51>;
        };

        print+super {
            bindings = <&kp LG(PRINTSCREEN)>;
            key-positions = <57 39>;
        };

        SLConfig {
            bindings = <&sl 3>;
            key-positions = <1 2 3 4 57>;
        };
    };

    behaviors {
    };

    keymap {
        compatible = "zmk,keymap";

        Main {
            bindings = <
&kp GRAVE  &kp N1        &kp N2            &kp N3        &kp N4             &kp N5                   &mmv MOVE_UP     &kp N6     &kp N7         &kp N8     &kp N9    &kp N0    &kp MINUS
&kp TAB    &kp Q         &kp W             &kp E         &kp R              &kp T                    &mmv MOVE_DOWN   &kp Y      &kp U          &kp I      &kp O     &kp P     &kp BSLH
&kp LCTRL  &kp A         &kp S             &kp D         &kp F              &kp G                    &mmv MOVE_LEFT   &kp H      &kp J          &kp K      &kp L     &kp SEMI  &kp APOS
&kp LSHFT  &kp Z         &kp X             &kp C         &kp V              &kp B                    &mmv MOVE_RIGHT  &kp N      &kp M          &kp COMMA  &kp DOT   &kp FSLH  &holdToLayer 3 EQUAL
&trans     &sk LEFT_ALT  &sk LEFT_CONTROL  &sk LEFT_GUI  &holdTapLayer 1 1  &holdToLayer 2 RETURN    &mkp MB1         &kp SPACE  &kp BACKSPACE  &kp ESC    &kp LBKT  &kp RBKT
            >;

            sensor-bindings = <&scrollH>;
            display-name = "1";
        };

        Support {
            bindings = <
&kp INSERT        &kp F1        &kp F2            &kp F3        &kp F4          &kp F5       &kp UP_ARROW    &kp F6          &kp F7     &kp F8            &kp F9             &kp F10          &trans
&kp LS(TAB)       &kp LG(Q)     &kp LC(W)         &kp LG(E)     &kp LG(R)       &kp LA(T)    &kp DOWN_ARROW  &kp GRAVE       &kp EQUAL  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &trans           &trans
&kp LEFT_CONTROL  &kp LEFT_ALT  &kp LEFT_CONTROL  &kp LEFT_GUI  &kp LEFT_SHIFT  &kp F11      &kp LEFT_ARROW  &kp LEFT_ARROW  &kp DOWN   &kp UP_ARROW      &kp RIGHT          &kp MINUS        &trans
&kp LEFT_SHIFT    &kp LC(Z)     &kp LC(X)         &kp LC(C)     &kp LC(V)       &kp F12      &kp RIGHT       &kp HOME        &kp PG_DN  &kp PG_UP         &kp END            &trans           &trans
&trans            &kp LEFT_ALT  &kp LEFT_CONTROL  &kp LEFT_GUI  &trans          &trans       &kp ENTER       &kp LC(SPACE)   &kp DEL    &kp ENTER         &kp LEFT_BRACE     &kp RIGHT_BRACE
            >;

            display-name = "2";
            sensor-bindings = <&scrollV>;
        };

        numPad {
            bindings = <
&trans  &trans  &trans          &trans          &trans           &trans      &kp UP_ARROW    &trans    &kp KP_NUMLOCK   &kp KP_DIVIDE    &kp KP_ASTERISK  &kp KP_MINUS  &trans
&trans  &trans  &mkp MB1        &mmv MOVE_UP    &mkp MB2         &trans      &kp DOWN        &trans    &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_PLUS   &trans
&trans  &trans  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &mkp MB3    &kp LEFT_ARROW  &mkp MB5  &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_DOT    &trans
&trans  &trans  &trans          &trans          &trans           &trans      &kp RIGHT       &mkp MB4  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_ENTER  &trans
&trans  &trans  &trans          &trans          &trans           &trans      &kp ENTER       &mkp MB1  &mkp MB3         &mkp MB2         &kp KP_NUMBER_0  &kp KP_COMMA
            >;

            label = "3";
        };

        Config {
            bindings = <
&sys_reset  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4      &rgb_ug RGB_HUI  &rgb_ug RGB_HUI  &rgb_ug RGB_SAI  &rgb_ug RGB_BRI  &rgb_ug RGB_SPI  &rgb_ug RGB_EFF  &rgb_ug RGB_TOG
&trans      &out OUT_BLE  &out OUT_USB  &trans        &bt BT_CLR    &bt BT_CLR_ALL    &rgb_ug RGB_HUD  &rgb_ug RGB_HUD  &rgb_ug RGB_SAD  &rgb_ug RGB_BRD  &rgb_ug RGB_SPD  &rgb_ug RGB_EFR  &trans
&trans      &trans        &trans        &trans        &trans        &trans            &rgb_ug RGB_SAI  &trans           &trans           &trans           &trans           &trans           &trans
&trans      &trans        &trans        &trans        &trans        &bootloader       &rgb_ug RGB_SAD  &bootloader      &trans           &trans           &trans           &trans           &trans
&kp K_MUTE  &to 0         &to 4         &trans        &trans        &soft_off         &rgb_ug RGB_TOG  &trans           &trans           &trans           &rgb_ug RGB_ON   &rgb_ug RGB_OFF
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOL_DN>;
            label = "0";
        };

        Gaming {
            display-name = "1";
            bindings = <
&kp GRAVE     &kp N1   &kp N2             &kp N3    &kp N4     &kp N5       &mmv MOVE_UP     &kp N6     &kp N7         &kp N8     &kp N9    &kp N0    &kp MINUS
&kp TAB       &kp Q    &kp W              &kp E     &kp R      &kp T        &mmv MOVE_DOWN   &kp Y      &kp U          &kp I      &kp O     &kp P     &kp BSLH
&kp LCTRL     &kp A    &kp S              &kp D     &kp F      &kp G        &mmv MOVE_LEFT   &kp H      &kp J          &kp K      &kp L     &kp SEMI  &kp APOS
&kp LSHFT     &kp Z    &kp X              &kp C     &kp V      &kp B        &mmv MOVE_RIGHT  &kp N      &kp M          &kp COMMA  &kp DOT   &kp FSLH  &holdToLayer 3 EQUAL
&kp LEFT_GUI  &kp ESC  &holdTapLayer 1 1  &kp LALT  &kp SPACE  &kp ENTER    &mkp MB1         &kp SPACE  &kp BACKSPACE  &kp EQUAL  &kp LBKT  &kp RBKT
            >;

            sensor-bindings = <&scrollH>;
        };
    };
};
